html, body {
  height: 100%;
  margin: 0;
}

/* fixes the row class in boostrap adding 15px padding on the end */
.row {
  padding-right: 0px;
  margin-right: 0px;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box .header {
  flex: 0 1 auto;
}
.box .content {
  flex: 1 1 auto;
}
.box .footer {
  flex: 0 1 40px;
}
