/*
*{
 outline: 1px solid red;
}
*/
.bg-1
{
  background-color: #011627; /* rich black */
  color: #FDFFFC; /*baby powder */ 
}

.navbar a
{
  color:#FDFFFC;
}

.bg-2
{
  background-color: #F71735; /*imperial red */
  color: #FDFFFC;/*baby powder */
}
.bg-3
{
  background-color: #41EAD4; /*turquoise*/
  color: #FDFFFC;/*baby powder */
}
.bg-4
{
  background-color: #41EAD4; /*turquoise*/
  color: #FDFFFC;/*baby powder */
}
.bg-5
{
  background-color: #FF9F1C; /*orange peel*/
  color: #FDFFFC;/*baby powder */
}
.bg-white
{
  background-color: #FDFFFC;/*baby powder */
}
.bg-footer
{
  background-color: #011627;  /*rich black */
  color: #B0B0B0;
}
.medium-padding
{
  padding-top: 35px;
  padding-bottom: 35px;
}

.very-small-padding
{
  padding-top: 10px;
  padding-bottom: 10px;
}

.small-padding
{
  padding-top: 20px;
  padding-bottom: 20px;
}

#breathing-button {
    width: 180px;
    padding: 12px;
    margin: 50px auto;
    border: 1px solid #3cc8b4;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    font-family:'Lantinghei SC';
    font-size: 16px;
    background: #3cc8b4;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    text-align: center;
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.main-page-buttons
{
  background-color: #F71735;
  color: #FDFFFC;
  border-radius:5px;
  -webkit-animation: breathing 7s ease-out infinite normal;
}

.main-page-buttons:hover
{
  background-color: #011627;
  color: #FDFFFC;/*baby powder */
}

#K8_mover
{
  width: 100px;
  height: 100px;
  position: absolute;
}

#K8_container
{
  background-image: url("../assets/undersea.jpg");
  position: relative;
}

.video_about 
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video_about_primary
{
  height: 400px;
  width: 400px;
  padding-top: 30px;
}